[submodule "extern/aurora"]
	path = extern/aurora
	url = https://github.com/souldbminerr/aurora-switch.git
	branch = switch
[submodule "extern/borealis"]
	path = extern/borealis
	url = https://github.com/encounter/borealis.git
[submodule "mods/randomizer"]
	path = mods/randomizer
	url = https://github.com/TwilitRealm/dusklight-randomizer.git
[submodule "mods/cosmetics"]
	path = mods/cosmetics
	url = https://github.com/TwilitRealm/dusklight-cosmetics
